.nav{
  height: 50px;
  background:blue;
}
.nav div{
  display:inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color: white;
}
.nav ul{
  position: absolute;
  right: 15px;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a{
  color: white;
}
footer p{
  text-align: center;

}
.home {
  background:url("images/background-orig.png");
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
.home .text-container{
  text-align: center;
}
.about{
  background:url("images/background-orig.png");
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
.guides{
  background:url("images/background-orig.png");
  background-size: cover;
  height: 100vh;
}
.contact{
  background:url("images/background-orig.png");
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
.about .about-content {
 margin: 150px auto 0 auto;
 width: 500px;
}
.about .about-content h1{
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color:red;
}
.about .about-content p{
  text-align:justify;
  font-family: 'Lato', sans-serif;
  color: black;
}
.guides .guides-content{
  margin:80px auto 0 auto;
  text-align:center;
}
.guides-content .guide-container ul{
  padding: 0;
}
.guides-content .guides-container ul li{
  display: block;
  margin:20px;
}
.guides-content .guides-container ul li p{
  text-align:justify;
  font-family: "Lato", sans-serif;
  color:green;
}
.guides .guides-content h1{
  font-family: "Roboto", sans-serif;
  color:red;
}
.guides-content .guides-container ul li a{
  display: block;
  color: red;
}
.contact .contact-content{
  margin: 10px auto 0 auto;
  text-align: center;
}
.contact .contact-content h1{
  font-family: "Roboto", sans-serif;
  color:red;
}
.contact .contact-content .address-holder{
  font-family: "Lato", sans-serif;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    background-blend-mode: overlay;
}
footer, p {
  margin: auto;
  bottom: 0%;
}
h4 {
  position: absolute;
  text-align: center;
  right: 40%;
  font-family: "Lato", sans-serif;
}
#index {
  position: absolute;
  bottom: 0;
  right: 40%;
}
#about {
  position: absolute;
  bottom: 0;
  right: 40%;
}
#guides {
  position: absolute;
  bottom: 0;
  right: 40%;
}
#contact {
  position: absolute;
  bottom: 0;
  right: 40%;
}
div.elem-group {
  margin: 0px 0;
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 450px;
  padding: 14px;
}

textarea {
  height: 150px;
}

button {
  height: 50px;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  border: 2px solid black;
}
#st1 {
  margin: 40px 40px 40px 40px;
  width: 400px;
}
#summary {
  text-align: center;
  padding: 150px 150px 150px 150px;
}
#qa1 {
  margin-top: 30px;
}
html.sr load-hidden {
  visiblity: hidden;
}
